* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f1f1f1;
}


/* Header */
nav {
    background-color: #212121;    
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.navbar-brand span {
    color: #FF69B4;
}

nav li {
    padding: 0 0.9rem;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #FF69B4 !important;
}

/* Footer */
footer {
    background-color: #212121  !important
}

.pink {
    color: #FF69B4;
}

/* Home */
/* Home section */
.home{
    background: linear-gradient(to right bottom, #181818, #272727, #363636, #474747, #585858);
    background-size: cover;
    background-position: center;
}

.my-name {
    font-size: 4rem;
}

@media (max-width : 768px){
    .my-name {
        font-size: 3rem;
    }
}

@media (max-width : 375px){
    .my-name {
        font-size: 2rem;
    }
}


/* Projects section */
.projects {
    background-color: #212121;
}

.card:hover{
    -moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
    transition: transform ease-out;
    outline: none;
}

.card-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.card {
    background-color: #333333;
}

.card-image {
    height : 185px
}

.btn-outline {
    border : 1px solid #FF69B4;
    color : #FF69B4
}

.btn-outline:hover {
    background-color: #FF69B4;
    color : #212121
}

/* Technologies section */
.technologies {
    background-color: #212121;
}

.tech {
    width: 5rem;
    padding: 0 0.5rem;
}

.tech:hover{
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}

.tech__container {
    position: relative;
    
}

.tech__container:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    padding: 0.5rem;
    width: max-content;
    border-radius: 0.3rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: 150ms transform;
    transform-origin: top center;
}

.tech__container:hover::before {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    top: 40px;
    content: ' ' ;
    border: 10px solid transparent;
    border-bottom-color: white;
    transform-origin: bottom center ;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: scale(0.9);}
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: scale(0.9);}
    100% { transform: translateY(-20px); }
}

/* Project Details */
main {
    background-color: #272727;
}

.container__title {
    margin-top: 8%;
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

.container__subtitle {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.container__text {
    color: white;
}

.container__bold {
    color: #FF69B4;
    font-size: 1.2rem;
    font-weight: 500;
}


/* Contact Section */
.btn-pink {
    background-color: #FF69B4;
}

.btn-pink:hover {
    transform: scale(1.1);
}

.logo {
    color : #FF69B4
}

.logo:hover {
    color : #FF69B4;
    transform : scale(.9)
}


.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: #FF69B4;
    z-index: -1;
  }
  
  .heading span{
    font-size: 1.5rem;
    padding:.5rem 2rem;
    color:#f1f1f1;
    border:0.3rem solid #FF69B4;
  }

.dash{
    color: #FF69B4;
    font-size: 3rem;
    font-weight: bold;
}

/* Thank */
.thank {
    height: 75vh;
}

@media (max-width : 450px) {
    .container__title {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 1.6rem;
    }

    .dash {
        font-size: 1.6rem;
    }

    .tech { 
        width : 4rem
    }
}